*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

h1{
    padding: 10px;
}

.image-container {
    background: #EEF2F7;        
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-container {
    min-width: 60%;
    min-height: 90%;

    background: white;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 5px 5px 1rem #111111;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sub-images {
    display: flex;
    align-items: center;

    gap: 10px;
    margin-top: 10px;
}

.sub-images img:hover {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-filter: grayscale(20%) !important;
    filter: grayscale(40%) !important;
}

#main-image{
    min-width: 730px;
    height: 500px;
    padding: 1px;
    border: thick double #111111;
    box-shadow: 5px 5px 1rem #111111;
    cursor: initial;
}

img {
    cursor: pointer;
    min-width: 175px;
    height: 250px;
}